!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/base.css')
    link(rel='stylesheet', href='/stylesheets/Treemap.css')
    script(src='/javascripts/treemap.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/livestats.js')
  body(onload="init();")!= body

